<!-- Table 'node' edit -->
<br/>
<div class="col-sm-10" id="main-content">
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
[#if ERR_RESPFW#]
<div class="alert alert-error" style="color:red;font-weight:bold">[#ERR_RESPFW_TEXT#]</div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- GId (LIST) -->
<div class="form-group">
  <label class="control-label"[#if ERR_GID#] style="color:red;font-weight:bold"[#endif#]><#LANG_GATE#>:</label>
  <div class="controls">
  [#if GID=""#]
    <select name="gid" class="form-control input">
     [#begin GID_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
     [#end GID_OPTIONS#]
    </select>
  [#else#]
	<input type="text" value="[#GID_TITLE#]" class="form-control input" disabled>
	<input type="hidden" name="gid" value="[#GID#]">
  [#endif !GID#]
   </div>
</div> 
<!-- NID (int(10)) -->
<div class="form-group">
 <label class="control-label"[#if ERR_NID#] style="color:red;font-weight:bold"[#endif#]>NId:</label>
 <div class="controls"><input type="text" name="nid" value="[#NID#]" class="form-control input" [#if NID!=""#]disabled[#endif !NID#]></div>
</div>
<!-- PId (varchar) -->
<div class="form-group">
 <label class="control-label"><#LANG_PARENT#>:</label>
 <div class="controls"><input type="text" value="[#PID#]" class="form-control input" disabled></div>
</div>
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]><#LANG_TITLE#>:</label>
 <div class="controls"><input type="text" name="title" value="[#TITLE#]" class="form-control input"></div>
</div>
<!-- LOCATION_ID (select) -->
[#if !IS_SET_LOCATION_ID#]
<div class="form-group">
 <label class="control-label"[#if ERR_LOCATION_ID#] style="color:red;font-weight:bold"[#endif#]><#LANG_LOCATION#>:</label>
<div class="controls">
 <select name="location_id"  class="form-control input">
  <option value="">select
  [#begin LOCATION_ID_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end LOCATION_ID_OPTIONS#]
 </select>
</div>
</div>
[#endif IS_SET_LOCATION_ID#]
<!-- DevType -->
<div class="form-group">
	<label class="control-label"><#LANG_TYPE#>:</label>
	<div class="controls">
		<select name="devtype" class="form-control input">
			<option value="0"[#if DEVTYPE="0"#] selected[#endif#]>Powered node
			<option value="1"[#if DEVTYPE="1"#] selected[#endif#]>Battery node
		</select>
  </div>
</div>
<!-- Firmware (int) -->
[#if !IS_SET_FIRMWARE#]
<div class="form-group">
 <label class="control-label"[#if ERR_FIRMWARE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_FIRMWARE#>:
 </label>
<div class="controls">
 <select name="firmware"  class="form-control input">
  <option value="">select
  [#begin FIRMWARE_OPTIONS#]
    <option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end FIRMWARE_OPTIONS#]
 </select>
</div>
</div>
[#endif IS_SET_FIRMWARE#]
<!-- Sketch (varchar) -->
<div class="form-group">
 <label class="control-label">Sketch:</label>
 <div class="controls"><input type="text" class="form-control input" value="[#SKETCH#]" disabled></div>
</div>
<!-- Ver (varchar) -->
<div class="form-group">
 <label class="control-label"><#LANG_VERSION#>:</label>
 <div class="controls"><input type="text" class="form-control input" value="[#VER#]" disabled></div>
</div>
<!-- Prot (varchar) -->
<div class="form-group">
 <label class="control-label"><#LANG_PROTOCOL#>:</label>
 <div class="controls"><input type="text" class="form-control input" value="[#PROT#]" disabled></div>
</div>
<!-- Boot ver (varchar) -->
<div class="form-group">
 <label class="control-label">Boot:</label>
 <div class="controls"><input type="text" class="form-control input" value="[#BOOTVER#]" disabled></div>
</div>
<!-- LastReboot (varchar) -->
<div class="form-group">
 <label class="control-label"><#LANG_LASTREBOOT#>:</label>
 <div class="controls"><input type="text" class="form-control input" value="[#LASTREBOOT#]" disabled></div>
</div>
<!-- Battery (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]><#LANG_BATTERY_LEVEL#>:</label>
 <div class="controls">[#BATTERY#]</div><br/>
 <div class="controls"><input type="text" name="bat_object" id="bat_object" value="[#BAT_OBJECT#]" class="input form-control"></div><br/>
 <div class="controls"><input type="text" name="bat_property" id="bat_property" value="[#BAT_PROPERTY#]" class="input form-control"></div> 
</div>
<!-- HEARTBEAT (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_LINKED_HEARTBEAT#] style="color:red;font-weight:bold"[#endif#]>HEARTBEAT:</label>
 <div class="controls">[#HEARTBEAT#]</div><br/>
 <div class="controls"><input type="text" name="heartbeat_object" id="heartbeat_object" value="[#HEARTBEAT_OBJECT#]" class="input form-control"></div><br/>
 <div class="controls"><input type="text" name="heartbeat_property" id="heartbeat_property" value="[#HEARTBEAT_PROPERTY#]" class="input form-control"></div> 
</div>

<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-defaul btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
[#if NID!=""#]
<input type="hidden" name="nid" value="<#NID#>">
[#endif NID!=""#]
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
</div>
</fieldset>
</form>
[#module name="linkedobject" object_field="bat_object" property_field="bat_property"#] 
[#module name="linkedobject" object_field="heartbeat_object" property_field="heartbeat_property"#] 
<hr/>
<a href="?view_mode=[#VIEW_MODE#]&mode=resetinfo&id=[#ID#]&gid=[#GID#]&nid=[#NID#]" class="btn btn-default"><#LANG_RESETINFO#></a> - <#LANG_RESET_INFO#><br/><br/>
<a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&id=[#ID#]&data=[#NID#];0;3;0;18;0" class="btn btn-default"><#LANG_HEARTBEAT#></a> - <#LANG_HEARTBEAT_INFO#><br/><br/>
<a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&id=[#ID#]&data=[#NID#];0;3;0;19;0" class="btn btn-default"><#LANG_PRESENTATION#></a> - <#LANG_PRESENTATION_INFO#><br/><br/>
<a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&id=[#ID#]&data=[#NID#];0;3;0;13;0" class="btn btn-default"><#LANG_REBOOT#></a> - <#LANG_REBOOT_INFO#>
<br><br>
<div>OTA:
<a href="?view_mode=[#VIEW_MODE#]&mode=respfw&id=[#ID#]&gid=[#GID#]&nid=[#NID#]" class="btn btn-default">Response FW</a>
</div><br>
<div>Debug:
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];0;3;0;28;0;F" class="btn btn-default">Frequency (mHz)</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];0;3;0;28;0;V" class="btn btn-default">Voltage (mV)</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];0;3;0;28;0;B" class="btn btn-default">FreeMemory (B)</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];0;3;0;28;0;R" class="btn btn-default">Routing table</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];0;3;0;28;0;E" class="btn btn-default" onClick="return confirm('<#ARE_YOU_SURE#>')">!!Clean eprom!!</a>
</div><br>
<div><a href="https://github.com/mysensors/NodeManager" target="_blank">NodeManager:</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;BATTERY" class="btn btn-default">BATTERY</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;HELLO" class="btn btn-default">HELLO</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;REBOOT" class="btn btn-default" onClick="return confirm('<#ARE_YOU_SURE#>')">REBOOT</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;CLEAR" class="btn btn-default" onClick="return confirm('<#ARE_YOU_SURE#>')">CLEAR</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;VERSION" class="btn btn-default">VERSION</a>
 <a href="#" class="btn btn-default" disabled>Change ID</a>
 <a href="#" class="btn btn-default" disabled>Set the wait/sleep interval</a>
 <a href="#" class="btn btn-default" disabled>Set mode</a>
 <a href="?view_mode=[#VIEW_MODE#]&mode=cmd&id=[#ID#]&gid=[#GID#]&data=[#NID#];200;2;0;48;AWAKE" class="btn btn-default">AWAKE</a>
</div>
</div>