<br/>
<p>
<a href="?view_mode=presentation_clean&id=[#ID#]&gid=[#GID#]&nid=[#NID#]" class="btn btn-default" onClick="return confirm('<#ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-trash"></i> <#LANG_CLEAN#></a>
<a href="?view_mode=[#VIEW_MODE#]&id=[#ID#]&mode=cmd&gid=[#GID#]&data=[#NID#];0;3;0;19;0" class="btn btn-default"><#LANG_REQUEST#></a>
</p> 
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
<table border=0 align=center cellpadding=3>
[#if OK#]
<tr>
 <td colspan=2 align=center>
  <font color="green"><#LANG_DATA_SAVED#></font>
 </td>
</tr>
[#endif OK#]
[#if ERR#]
<tr>
 <td colspan=2 align=center>
  <font color="red"><#LANG_FILLOUT_REQURED#></font>
 </td>
</tr>
[#endif ERR#] 
[#if PRESENTATIONS#]

<tr> 
 <td valign="top">
  <table width="100%" border="1" cellpadding="2">
   <tr>
    <td valign="top"><b><#LANG_SENSOR#></b></td>	
    <td valign="top"><b><#LANG_TYPE#></b></td>
    <td valign="top"><b><#LANG_DESCRIPTION#></b></td>
   </tr>
   [#begin PRESENTATIONS#]
   <tr>
    <td valign="top"><b>[#SID#]</b></td>
    <td valign="top">[#TITLE#]</td>
    <td valign="top">[#INFO#]</td>
   </tr>
   [#end PRESENTATIONS#]
  </table>
 </td>
</tr>
[#endif PRESENTATIONS#]
</form>

</p>