<!-- table mysensor search -->
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">About&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>

<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">MySensor gateway. [#VER#]</h4>
			</div>
			<div class="modal-body">
				<p> Module supported MySensor gateway.<br>
				<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=2404&p=23022#p23022" target="_blank">Forum</a>.<br>
				</p>
				<p class="float-left"></p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@S :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div>
 MySensor  <a class="btn btn-default" href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a>   
 &nbsp;
 <a id="bincmode" href="?view_mode=inc_mode&tab=<#TAB#>" class="btn btn-default [#if MS_INCLUSION_MODE=="1"#]active[#endif#]">Inclusion mode</a>
</div>
<script language="javascript">
  var checkIncTimer;
	
  function checkIncStates() {
	  clearTimeout(checkIncTimer);
	  var url="?ajax=1&atype=incmode";
		$.ajax({
      url: url,
    }).done(function(data) {       
			$('#bincmode').removeClass("active");
			if (data == "1")
			{
				$('#bincmode').addClass("active");
			}
      checkIncTimer=setTimeout('checkIncStates()', 5000);
    });
    return false;
  }
 
  checkIncStates();
</script>
<div style="display:none" id='api_settings'>
&nbsp;
<script type="text/javascript">
	function OnSelectConType (select) {    
    var fDiv1 = document.getElementById('ms_ethernet');
		var fDiv2 = document.getElementById('ms_serial');
		
		fDiv1.style.display = (select.selectedIndex == 0) ? 'block' : 'none';
		fDiv2.style.display = (select.selectedIndex == 1) ? 'block' : 'none';
  }
</script>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>

<div class="form-group">
 <label class="control-label">
 <#LANG_CONNECTION_TYPE#>: 
 </label>
 <div class="controls">
   <select name="ms_contype" class="input" id="ms_contype" onchange="OnSelectConType(this)">
    <option value="0"[#if MS_CONTYPE=="0"#] selected[#endif#]>Ethernet TCP</option>
    <option value="1"[#if MS_CONTYPE=="1"#] selected[#endif#]>Serial</option>   
   </select>
 </div>
</div>
<div id="ms_ethernet">
<div class="form-group">
 <label class="control-label"[#if ERR_MS_HOST#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_HOSTNAME#>:
 (*)
 </label>
 <div class="controls"><input type="text" name="ms_host" value="<#MS_HOST#>" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_MS_PORT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_PORT#>:
 (*)
 </label>
 <div class="controls"><input type="text" name="ms_port" value="<#MS_PORT#>" class="input"></div>
</div>
</div>
<div class="form-group" id="ms_serial">
 <label class="control-label"[#if ERR_MS_SERIAL#] style="color:red;font-weight:bold"[#endif#]>
 Serial:
 (*)
 </label>
 <div class="controls"><input type="text" name="ms_serial" value="<#MS_SERIAL#>" class="input"></div>
</div>
<script type="text/javascript">  
	OnSelectConType ( document.getElementById('ms_contype') );
</script>
<div class="form-group">
 <label class="control-label">
 <#LANG_MEASURE#>:
 </label>
 <div class="controls">
   <select name="ms_measure" class="input">    
    <option value="M"[#if MS_MEASURE=="M"#] selected[#endif#]>Metric</option>
    <option value="I"[#if MS_MEASURE=="I"#] selected[#endif#]>Imperial</option>   
   </select>
 </div>
</div>

<div class="form-group">
 <label class="control-label">
 <#LANG_AUTOID#>:
 </label>
 <div class="controls">
   <label class="radio"><input type="radio" name="ms_autoid" value="1"[#if MS_AUTOID="1"#] checked[#endif#]>Auto</label>
   <label class="radio"><input type="radio" name="ms_autoid" value="0"[#if MS_AUTOID!="1"#] checked[#endif#]>Off</label> 
   <label class="radio"><input type="radio" name="ms_autoid" value="2"[#if MS_AUTOID=="2"#] checked[#endif#]>Manual</label> 
 </div>
</div>

<div class="form-group">
 <label class="control-label"[#if ERR_MS_NEXTID#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_NEXTID#>:
 (*)
 </label>
 <div class="controls"><input type="text" name="ms_nextid" value="<#MS_NEXTID#>" class="input"></div>
</div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
<br/>

<ul class="nav nav-tabs">
 <li [#if TAB=="" || TAB=="nodes"#] class="active"[#endif#]><a href="?tab=nodes"><#LANG_NODES#></a></li>
 <li [#if TAB=="firmware"#] class="active"[#endif#]><a href="?tab=firmware"><#LANG_FIRMWARE#></a></li>
 <li [#if TAB=="mesh"#] class="active"[#endif#]><a href="?tab=mesh"><#LANG_MESH#></a></li> 
 <li [#if TAB=="log"#] class="active"[#endif#]><a href="?tab=log"><#LANG_GENERAL_EVENTS_LOG#></a></li> 
 <li [#if TAB=="queuing"#] class="active"[#endif#]><a href="?tab=queuing"><#LANG_QUEUING#></a></li> 
</ul> 

[#if TAB="nodes" || TAB=""#]
  [#inc search_list.html#] 
[#endif#] 
[#if TAB="firmware"#]
  [#inc search_firmware.html#] 
[#endif#] 
[#if TAB="mesh"#]
  [#inc search_mesh.html#] 
[#endif#] 
[#if TAB="log"#]
  [#inc search_log.html#] 
[#endif#]
[#if TAB="queuing"#]
  [#inc search_queuing.html#] 
[#endif#] 